/*@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik:700');*/
@import url('https://fonts.googleapis.com/css?family=Handlee|Roboto+Mono|Rubik:700');

body {
  color: #F5B7C0;
  position: relative;
  font-family: 'Roboto Mono', monospace;
  background-color: #FFFFFF;
  background-image: url("http://i.imgur.com/YVmsY7J.jpg");
}

/*///// NAVIGATION BAR /////*/
.nav {
  padding-top: 24px;
  float: right;
}

.nav>li>a {
  color: #F5B7C0;
  font-size: 14pt;
}

/*///// BANNER /////*/
.jumbotron {
    background-color: #FFFFFF;
    background-image: url("http://i.imgur.com/YVmsY7J.jpg");
    padding-top: 100px;
}

#name {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
   animation-delay: 1s;
   font-size: 60pt;
}

#titles {
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
   animation-delay: 2s;
}

/*///// MAIN CONTENT /////*/
#main {
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
   animation-delay: 3s;
 }

.project-rows {
  padding: 40px 0px 40px 0px;
}

img:hover {
  opacity: 0.5;
}

@media screen and (max-width: 480px) { /* iphone 6 or later */
  .preview {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 320px) { /* iphone 5 */
  .preview {
    width: 280px;
    height: 280px;
  }
}

/*///// FOOTER /////*/
.copyright {
  font-size: 18pt;
}

/*///// BASIC STYLES /////*/
a {
  text-decoration: none;
  color: #F5B7C0;
}

a:hover, a:focus {
  text-decoration: none;
  color: #979E9A;
}

h1 {
  font-family: 'Rubik', sans-serif;
}

.font-handlee {
  font-family: 'Handlee', cursive;
}

hr {
  margin: 5px;
}

.btn {
  background-color: #FFFFFF;
  border: 3px solid #F5B7C0;
  color: #F5B7C0;
}

.btn:hover {
  background-color: #FFFFFF;
  border: 3px solid #979E9A;
  color: #979E9A;
}

.btn:focus, .btn:active {
  outline: none !important;
  background-color: #979E9A;
  border: 3px solid #979E9A;
  color: #FFFFFF;
  box-shadow: none;
}
