/*@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik:700');*/
@import url('https://fonts.googleapis.com/css?family=Handlee|Roboto+Mono|Rubik:700');


body {
  color: #F5B7C0;
  position: relative;
  font-family: 'Roboto Mono', monospace;
}

/*///// NAVIGATION BAR /////*/
.nav {
  padding-top: 24px;
  float: right;
}

.nav>li>a {
  color: #F5B7C0;
  font-size: 14pt;
}

/*///// BANNER /////*/
.jumbotron {
    background-color: red;
    background-image: url("https://l0lrus.files.wordpress.com/2010/02/boring-neon.gif");
    height: 100vh;
    background-size: cover;
}

/*///// MAIN CONTENT /////*/
.project-rows {
  padding: 40px 0px 40px 0px;
}

@media screen and (max-width: 480px) { /* iphone 6 or later */
  .preview {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 320px) { /* iphone 5 */
  .preview {
    width: 280px;
    height: 280px;
  }
}

/*///// BASIC STYLES /////*/
h1 {
  font-family: 'Rubik', sans-serif;
}

.font-handlee {
  font-family: 'Handlee', cursive;
}

hr {
  margin: 5px;
}

.btn {
  background-color: #FFFFFF;
  border: 3px solid #979E9A;
  color: #979E9A;
}

.btn:hover {
  background-color: #FFFFFF;
  border: 3px solid #F5B7C0;
  color: #F5B7C0;
}

.btn:focus, .btn:active {
  outline: none !important;
  background-color: #F5B7C0;
  border: 3px solid #F5B7C0;
  color: #FFFFFF;
  box-shadow: none;
}
